In [1]:
import sys
import json
import pandas as pd
import numpy as np
import os

In [2]:
reviews = pd.read_csv('yelp_business_and_reviews.csv', sep="\t")

/Users/7of9/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,2,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
reviews.tail(3)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars_x,text,useful,user_id,categories,city,name,review_count,stars_y
4018744,4018722,l8VmpBM-uuAn3kEcjzIv2w,0,2012-02-09,0,9pIWL-BMaXD8u4t8P-wGug,3.0,I like this Opa because the owner is a great g...,0.0,76V_yP6iFp9xYNnyWIzm8w,"Restaurants, Greek, Fast Food, Mediterranean",Calgary,OPA! of Greece North Hill Centre,3.0,4.0
4018745,4018723,l8VmpBM-uuAn3kEcjzIv2w,0,2012-10-11,0,B_-VOdEwd2SZzsDEueiSxA,5.0,"Aki is the owner, he is Greek. this is the BES...",0.0,OpLYM_y6ReDz6dEv8_ra4A,"Restaurants, Greek, Fast Food, Mediterranean",Calgary,OPA! of Greece North Hill Centre,3.0,4.0
4018746,4018724,l8VmpBM-uuAn3kEcjzIv2w,0,2015-06-15,0,blR6ripkVGxMRN_KKfxr7g,4.0,This location is clean and the staff are fast ...,0.0,o2_QE7ARw7qf_6gQYBqgog,"Restaurants, Greek, Fast Food, Mediterranean",Calgary,OPA! of Greece North Hill Centre,3.0,4.0

In [13]:
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import colors
from matplotlib.ticker import PercentFormatter

In [ ]:
# https://github.com/parrt/msds501/blob/master/notes/dataframes.ipynb
# https://www.yelp.com/dataset/documentation/main

In [26]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4018747 entries, 0 to 4018746
Data columns (total 15 columns):
Unnamed: 0      object
business_id     object
cool            object
date            object
funny           object
review_id       object
stars_x         float64
text            object
useful          float64
user_id         object
categories      object
city            object
name            object
review_count    float64
stars_y         float64
dtypes: float64(4), object(11)
memory usage: 459.9+ MB

In [27]:
reviews.describe()

            stars_x        useful  review_count       stars_y
count  4.018735e+06  4.018715e+06  4.018715e+06  4.018715e+06
mean   3.726081e+00  1.146094e+00  4.454157e+02  3.727154e+00
std    1.688238e+00  3.477432e+00  8.487723e+02  6.193240e-01
min    0.000000e+00 -1.000000e+00  3.000000e+00  1.000000e+00
25%    3.000000e+00  0.000000e+00  6.500000e+01  3.500000e+00
50%    4.000000e+00  0.000000e+00  1.800000e+02  4.000000e+00
75%    5.000000e+00  1.000000e+00  4.470000e+02  4.000000e+00
max    1.114000e+03  1.234000e+03  7.968000e+03  5.000000e+00

In [29]:
reviews.stars_x.sort_values(ascending=False).head(10)

1433260    1114.0
1366962    1022.0
1137433     858.0
2393163     539.0
2289524     506.0
831928      462.0
2149205     427.0
136914      165.0
1894940      76.0
3608419      56.0
Name: stars_x, dtype: float64

In [31]:
stars = reviews.stars_x
stars.mean()

3.726080968264889

In [32]:
reviews.groupby(['stars_x']).mean()  # review stars, extra values due to NA's

           useful  review_count   stars_y
stars_x
0.0      0.000000     62.000000  2.500000
1.0      1.379798    308.810597  3.195432
2.0      1.331499    395.486687  3.431619
3.0      1.216571    438.640901  3.566165
4.0      1.242151    464.427466  3.762231
5.0      0.944221    487.053161  3.985561
56.0          NaN           NaN       NaN
76.0          NaN           NaN       NaN
165.0         NaN           NaN       NaN
427.0         NaN           NaN       NaN
462.0         NaN           NaN       NaN
506.0         NaN           NaN       NaN
539.0         NaN           NaN       NaN
858.0         NaN           NaN       NaN
1022.0        NaN           NaN       NaN
1114.0        NaN           NaN       NaN

In [36]:
reviews.groupby(['stars_y']).mean() # resturant's stars

          stars_x    useful  review_count
stars_y
1.0      1.106167  1.293388     11.171647
1.5      1.553142  1.224068     41.455997
2.0      2.046707  1.107305     66.034469
2.5      2.534426  1.130127    146.971338
3.0      3.033885  1.198473    262.810946
3.5      3.522197  1.100755    351.238841
4.0      3.999596  1.124621    611.106439
4.5      4.424391  1.204055    511.021683
5.0      4.849385  1.469988    189.316495

In [34]:
cats = reviews.categories
cats = list(cats)
categories_set = set()
for i in range(len(cats)):
    if cats[i] != None:
        cat_list = str(cats[i]).split(",")
        for word in cat_list:
            categories_set.add(word)

In [40]:
len(categories_set)

1305

In [41]:
reviews.iloc[3]

Unnamed: 0                                                      3
business_id                                iCQpiavjjPzJ5_3gPD5Ebg
cool                                                            0
date                                                   2014-12-30
funny                                                           0
review_id                                  pcn01EMERpCpHEcoaohdEg
stars_x                                                         5
text            This SECRET  PIZZA was a secret for about 5 st...
useful                                                          0
user_id                                    RTiaaHSN80VRTLSdNK5rfQ
categories                                     Pizza, Restaurants
city                                                    Las Vegas
name                                                 Secret Pizza
review_count                                                 4078
stars_y                                                         4
Name: 3, dtype: object

In [42]:
reviews.isnull().any()

Unnamed: 0      False
business_id      True
cool             True
date             True
funny            True
review_id        True
stars_x          True
text             True
useful           True
user_id          True
categories       True
city             True
name             True
review_count     True
stars_y          True
dtype: bool

In [45]:
reviews_dropna = reviews.dropna()

In [46]:
len(reviews) - len(reviews_dropna)

70

In [47]:
reviews_dropna.groupby(['stars_x']).mean()

           useful  review_count   stars_y
stars_x
1.0      1.379816    308.814308  3.195441
2.0      1.331511    395.491733  3.431626
3.0      1.216579    438.644769  3.566175
4.0      1.242139    464.430402  3.762235
5.0      0.944225    487.057402  3.985556

# Making Folders that Contain Review Text

In [48]:
#star_5 = reviews[reviews.stars_x==5.0]  # get into folders labled 5, 4, 3, 2, star etc

stars = [5.0, 4.0, 3.0, 2.0, 1.0]
df_names = ['reviews5', 'reviews4', 'reviews3', 'reviews2', 'reviews1']

for i in range(5):
    star_i = reviews[reviews.stars_x==stars[i]] 
    star_i.to_csv(df_names[i], sep='\t', encoding='utf-8')

In [56]:
star_5 = reviews[reviews.stars_x==5.0]
star_5.text[2]

'This place is truly a secret!  Its so hidden that there are no signs in the directory of the restaurant itself except for the line of people waiting to enjoy a slice of the best pizza they ever had.  It is thin crust pizza, crispy crust and delicious toppings!  If you can go for lunch there is less of a line.\nTheir pepperoni was nice and oily just the way i like it'

In [78]:
! mkdir star_5

In [81]:
! cd star_5

In [85]:
! pwd

/Users/7of9/Documents/Machine_Learning/yelp-dataset

In [86]:
! cd star_5

In [88]:
! pwd

/Users/7of9/Documents/Machine_Learning/yelp-dataset

In [ ]:
path = os.getcwd() + '/star_5'
os.chdir(path)

In [97]:
! pwd

/Users/7of9/Documents/Machine_Learning/yelp-dataset/star_5

In [ ]:
star_5_df = reviews[reviews.stars_x==5.0]

for i in star_5_df.index:
    text_df = pd.DataFrame([star_5_df.text[i]])
    filename = 'text'+str(i)+".txt"
    text_df.to_csv(filename, sep='\t', encoding='utf-8')
# need bigger computer

In [100]:
! mkdir star_4_small

In [101]:
path = os.getcwd() + '/star_4_small'
os.chdir(path) 

star_4_small_df = reviews[reviews.stars_x==4.0]

for i in star_4_small_df.index[1000:1500]:
    text_df = pd.DataFrame([star_4_small_df.text[i]])
    filename = 'text'+str(i)+".txt"
    text_df.to_csv(filename, sep='\t', encoding='utf-8')

In [104]:
! mkdir star_5_small

mkdir: star_5_small: File exists

In [105]:
path = os.getcwd() + '/star_5_small'
os.chdir(path) 

star_5_small_df = reviews[reviews.stars_x==5.0]

for i in star_5_small_df.index[1000:1500]:
    text_df = pd.DataFrame([star_5_small_df.text[i]])
    filename = 'text'+str(i)+".txt"
    text_df.to_csv(filename, sep='\t', encoding='utf-8')

In [109]:
! mkdir star_3_small

In [112]:
star_3_small_df = reviews[reviews.stars_x==3.0]
len(star_3_small_df.index)

539889

In [139]:
os.chdir('/Users/7of9/Documents/Machine_Learning/yelp-dataset/star_5')

In [178]:
! pwd

/Users/7of9/Documents/Machine_Learning/yelp-dataset/star_5

In [179]:
! mkdir star_3_small

In [152]:
star_3_list[100:105]

Int64Index([202, 204, 206, 207, 209], dtype='int64')

In [156]:
star_3_small_df = reviews[reviews.stars_x==3.0]

In [182]:
path = os.getcwd() + '/star_3_small'
os.chdir(path) 

key_errors = [202, 204, 209]
star_3_small_df = reviews[reviews.stars_x==3.0]

#star_3_list = star_3_small_df.index
#star_3_list = list(star_3_list)
for i in star_3_small_df.index[1000:1500]:
    text_df = pd.DataFrame([star_3_small_df.text[i]])
    filename = 'text'+str(i)+".txt"
    text_df.to_csv(filename, sep='\t', encoding='utf-8')

In [183]:
! pwd

/Users/7of9/Documents/Machine_Learning/yelp-dataset/star_5/star_3_small

In [131]:
! pwd

/Users/7of9/Documents/Machine_Learning/yelp-dataset/star_5

In [133]:
! mkdir star_2_small

In [134]:
path = os.getcwd() + '/star_2_small'
os.chdir(path) 

star_2_small_df = reviews[reviews.stars_x==2.0]

for i in star_2_small_df.index[1000:1500]:
    text_df = pd.DataFrame([star_2_small_df.text[i]])
    filename = 'text'+str(i)+".txt"
    text_df.to_csv(filename, sep='\t', encoding='utf-8')

In [135]:
! pwd

/Users/7of9/Documents/Machine_Learning/yelp-dataset/star_5/star_2_small

In [136]:
os.chdir('/Users/7of9/Documents/Machine_Learning/yelp-dataset/star_5')

In [137]:
! mkdir star_1_small

In [138]:
path = os.getcwd() + '/star_1_small'
os.chdir(path) 

star_1_small_df = reviews[reviews.stars_x==1.0]

for i in star_1_small_df.index[1000:1500]:
    text_df = pd.DataFrame([star_1_small_df.text[i]])
    filename = 'text'+str(i)+".txt"
    text_df.to_csv(filename, sep='\t', encoding='utf-8')